@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	font-family: "Poppins", "Helvetica";
}

:root
{
	--light-green: rgba(39, 174, 95, 0.41);
	--primary-green: #28b446;
	--home-bg: rgba(39, 180, 70, 0.6);
	--profile-bg: rgba(39, 180, 70, 0.7);
	--search-shadow: hsla(133, 64%, 43%, 0.40);
	--figma-grid: 30px;
	--title-color: #263238;
	--text-color: #455A64;
	--title-weight: medium;
	--title-size: 22px;
	--box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
}


#modalSearch
{
	background: url('assets/fl-glass.svg') no-repeat;
	background-size: 27px;
	background-position-y: center;
	background-position-x: 94%;
	background-color: var(--light-green);
}

.line::after
{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #28B446;
	border-radius: 50%;
	right: -5px;
	top: 50%;
}

/* I was sure that this kevin powell tips will be usesull for me ! */
.commentText
{
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.scroller
{
	transition: all ease .4s;
}

footer .up
{
	min-height: 300px;
	background: linear-gradient(1turn, var(--primary-green) 85%, white 20%);
}

.homecard
{
	transition: all ease .4s;
}

.homecard:hover
{
	transform: translateY(-3px);
	transform: scale(1.01);
}

.gr-image 
{
	display: grid;
}

@media (max-width: 1024px) {
	.gr-image 
	{
		display: none !important;
	}	
}

.inside
{
	background: url('assets/2149649376.jpg') no-repeat;
	background-position-x: center;
	background-size: cover;
	background-position-y: 40%;
}

.t-home
{
	letter-spacing: -4%;
}



select
{
	padding-inline: 15px;
	border: solid 1px var(--primary-green);
	padding-block: 15px;
	transition: 0.4s;
}


select::picker-icon
{
	transition: all ease .4s;
	color: var(--primary-green);
}

select:open::picker-icon {
	rotate: 180deg;
}

.search input + label, .searchModal input + label
{
	transition: all ease .4s;
}


.search input, .searchModal input
{
	transition: all ease .3s;
	background: url('assets/chevron-down-solid.svg') no-repeat;
	background-size: 17px;
	background-position-x: 95%;
	background-position-y: center ;
}

.search input:focus, .search input:hover, .searchModal input:focus, .searchModal input:hover
{
	border: solid 2px #28b446;
	outline: none;
}

.search input:hover + label, .searchModal input:hover + label
{
	user-select: none;
	pointer-events: none;
}

.search input:hover + label, .search input:focus + label, .search input.hasVal + label,
.searchModal input:hover + label, .searchModal input:focus + label, .searchModal input.hasVal + label
{
	transform: translate( -17px ,-40px);
	scale: .8;
	z-index: 1000;
	background-color: #28B446;
	color: white;
	border-radius: 10px;
	padding: 4px;
}

.searchModal input:hover + label, .searchModal input:focus + label, .searchModal input.hasVal + label
{
	z-index: 30;
}

.search ul li, .searchModal ul li
{
	transition: all ease .4s;
	color: white;
}

.searchModal ul li
{
	color: #28B446;
}

.search ul li:hover, .searchModal ul li:hover
{
	background-color: #28B446;
}

.searchModal ul li:hover
{
	color: white;
}


.modal 
{
	display: none;
	transition-behavior: allow-discrete;
	transition-property: display opacity;
	transition-duration: .4s;
	background-color: rgba(0, 0, 0, .2);
	opacity: 0;
}

.modal.show 
{
	opacity: 1;
	display: flex;

	@starting-style{
		opacity: 0;
	}
}

.modal form
{
	transition-behavior: allow-discrete;
	transition-property: display opacity;
	margin-top: 150px;
	transition-duration: .4s;
	transform: translateX(-20vw);	
}

.modal.show form
{
	transform: translateX(0);
	@starting-style{
		transform: translateX(20vh)
	}
}


.sidebar
{
	height: calc(100dvh - 89px);
	background-color: greenyellow;
}

.nextSide
{
	height: calc(100dvh - 89px);
	overflow-y: auto;
}